fastapi
uvicorn[standard]
streamlit
requests

langgraph
langchain
langchain-community<0.4
langchain-openai
langchain-tavily

sqlmodel
pydantic
pydantic-settings

python-dotenv
python-jobspy==1.1.82

openai
